.App{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.Login{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width:350px;
  height: 300px;
  border: 2px solid black;
  align-items: center;
  margin-top: 100px;
}
.navbar{
  
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: right;
  align-content: right;
}
.navitem{
  background-color: lightgray;
  align-content: center;
  text-align: center;
  align-items: center;
  width: 120px;
  height: 36px;
  border-radius: 20px;
}
